# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Django
*.sqlite3
media/
backend/staticfiles/

# Environment
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Node
frontend/node_modules/
frontend/.next/
frontend/.env.local

# IDE
.idea/
.vscode/
