{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_head %}
<style>
    .content-section {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 40px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-group {
        margin-bottom: 20px;
    }
    .btn-login {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
    }
    .btn-login:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    .legend-heading {
        text-align: center;
        position: relative;
    }
    .legend-heading::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        height: 2px;
        /* background-color: #0f1112; Change this to your desired underline color */
    }
</style>
{% endblock page_head %}

{% block page_content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 legend-heading">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-login btn-block" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3 text-center">
            <small class="text-muted">Need an account? <a href="{% url 'register' %}">Sign Up Now</a></small>
        </div>
    </div>
{% endblock page_content %}
