.job-card {
    border: 1px solid #141c52;
    overflow: hidden; /* Ensures that child elements don't exceed border radius */
    box-shadow: 0 2px 4px rgba(57, 156, 95, 0.1);
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Make the card a flex container with column layout */
}

.job-card-body {
    padding: 20px;
    /* border: 1px solid #1bae31; */
    flex: 1 1 auto; /* Allow the body to take up remaining space but not push footer */
    overflow: auto; /* Add scroll if content overflows */
}

.job-card-footer {
    padding: 10px 20px 10px 20px;
}

.job-bg {
    background: linear-gradient(to right, #FADB43, #fe9940);
    margin: 8px;
    border-radius: 20px;
}

.date-pill {
    background-color: #fff;
    border-radius: 50px;
    padding: 0.25em 0.75em;
    font-size: 0.75rem;
    color: #141c52;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.job-card .job-logo {
    width: 24px;
    height: 24px;
    margin: 0px 5px 0px 5px; /* Ensure space between the logo and title */
    border-radius: 50%;
    transform: scale(1.5);
}

.job-card h5 {
    font-size: 1.25rem;
    /* margin-bottom: 0.5rem; */
}

.job-card h6 {
    font-size: 1rem;
    color: #141c52;

}

.job-card .badge {
    background-color: transparent;
    border: 1px solid #141c52;
    color: #141c52;
    font-size: 0.75rem;
}

.job-card .btn {
    font-size: 0.875rem;
}
