{% extends "base.html" %}
{% load static %}

{% block page_head %}
<link rel="stylesheet" href="{% static 'learn_index.css' %}"/>

{% endblock page_head%}

{% block page_title %}
    <h2 class="text-center" style="padding: 10px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Learn </h2>
{% endblock page_title %}

{% block page_content %}
  {% block posts %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">    
        <div class="row">
          {% for post in posts %}
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title"><a href="{% url 'learn_detail' post.pk %}">{{ post.title }}</a></h6>
                </div>
                <div class="card-footer">
                  {% for category in post.categories.all %}    
                    <span class="text-muted"><a href="{% url 'learn_category' category.name %}">{{ category.name }}</a></span>                
                    <span class="badge"> {{ post.created_on.date }}</span>
                  {% endfor %}
                </div>                                
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
      <div class="col-md-4 pb-3">
        <div class="sidebar">
          <h5>Categories</h5>
          <ul class="list-unstyled">
            <li><a href="{% url 'learn_index'%}">All categories</a></li>
            {% for category in all_categories %}
              <li><a href="{% url 'learn_category' category.name %}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>      
    </div>
  </div>
  {% endblock posts %}
  
{% endblock page_content %}