.navbar-brand {
  font-size: 2rem;
  font-family: 'brush script mt', cursive;
  font-weight: bold;
  background: linear-gradient(to right, #FADB43, #fe9940);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* For hovering over Navbar brand */
.navbar-brand:hover {
  background: linear-gradient(to right, #141c52, #fe9940);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button {
  background: linear-gradient(to right, #FADB43, #fe9940);
  color: #fff;
  border: none;
}



/* Footer Styles */
.footer {
  background-color: #141c52;
  color: #fff;
  padding: 50px 0 0 0;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;

}

.footer p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.footer__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  border: #f1a71c;
}

.footer__col {
  flex: 1;
  /* align all columns to the center of page */
}
.footer__col h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #f1a71c;
}

.footer__col p {
  font-size: 1rem;
  color: #fff;
}

.footer__col ul {
  list-style: none;
  padding: 0;
}

.footer-social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer ul li {
  margin-bottom: 10px;
  list-style: none;
}

.footer .social-media {
  margin-top: 20px;
}

.footer .social-media a {
  color: #f1a71c;
  font-size: 1.8rem;
  margin: 0 10px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-media li a:hover {
  color: #fff;
}
