.job-card {
    border: 1px solid #162b99;
    overflow: hidden; /* Ensures that child elements don't exceed border radius */
    box-shadow: 0 2px 4px rgba(57, 156, 95, 0.1);
    height: 280px;
    border-radius: 25px;
    display: flex;
    flex-direction: column; /* Make the card a flex container with column layout */
}

.job-card-body {
    padding: 20px;
    border: 1px solid #1bae31;
    flex: 1 1 auto; /* Allow the body to take up remaining space but not push footer */
    overflow: auto; /* Add scroll if content overflows */
}

.job-card-footer {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #d71717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; /* Prevent footer from shrinking */
}

.job-bg {
    background-color: #FFEFD5; /* Set a consistent background color */
    margin: 5px;
    /* Make border radius responsive for mobile */
    border-radius: 15px;
}

.date-pill {
    background-color: #fff;
    border-radius: 50px;
    padding: 0.25em 0.75em;
    font-size: 0.75rem;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.job-card .job-logo {
    width: 24px;
    height: 24px;
    margin-left: 8px; /* Ensure space between the logo and title */
}

.job-card h5 {
    font-size: 1.25rem;
    /* margin-bottom: 0.5rem; */
}

.job-card h6 {
    font-size: 1rem;
    color: #666;
}

.job-card .badge {
    background-color: #c13131;
    font-size: 0.75rem;
}

.job-card .btn {
    font-size: 0.875rem;
}
