/* Custom CSS for the hero section */
.hero-section {
  position: relative;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-section h1 {
  font-size: 3.5rem;
}

.hero-title-container {
  font-weight: bold;
  text-align: center;
}

.animated-text {
  animation: moveText 2s infinite alternate;
  color: #141c52;
}

@keyframes moveText {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.hero-section p {
  font-size: 1.25rem;
  margin-top: 20px;
  color: #6c757d;
}

.hero-section .btn {
  font-size: 1.25rem;
  padding: 10px 40px;
  margin-top: 30px;
}

/* Features Section Styles */
.feature-wrapper{
  padding: 30px;
}

.features-section {
  /* background-color: #FADB43; */
  background: linear-gradient(to right, #FADB43, #fe9940);
  color: #fff;
  padding: 50px 0;
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.custom-feature-card{
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
}

.feature i {
  font-size: 3rem;
  color: #FADB43;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 1.8rem;
  color: #141c52;
}

.feature p {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #141c52;
}

/* Testimonials Section Styles */
.testimonial-wrapper{
  padding: 30px;
}

.testimonial-section {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 0;
}
.testimonial-section h1{
  color: #141c52;;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.testimonial-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial-card {
  flex: 0 0 calc(33.33% - 20px);
  /* Three cards in a row with spacing */
  background-color: #fff;
  background: linear-gradient(to left, #FADB43, #fe9940);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.testimonial-content p {
  font-size: 1.2rem;
  color: #141c52;
}

.testimonial-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonial-author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.author-info h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #fff;
}

.author-info p {
  font-size: 1rem;
  color: #141c52;
}

.author-info span {
  font-size: 1rem;
  color: #fff;
  background-color: #141c52;
}
/* Our Customers Section Styles */
.customers-section {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

.customer-logos {
  display: inline-block;
  margin: 0 20px;
  /* background-color: #141c52; */
  vertical-align: middle;
  border-radius: 20px;

}

.customer-logos i {
  font-size: 2.5rem;
  padding: 20px;
  color: #f1a71c;
  /* margin-bottom: 20px; */
}

/* Footer Styles */
.footer {
  background-color: #141c52;
  color: #fff;
  padding: 50px 0 0 0;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;

}

.footer p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.footer__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  border: #f1a71c;
}

.footer__col {
  flex: 1;
  /* align all columns to the center of page */
}
.footer__col h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #f1a71c;
}

.footer__col p {
  font-size: 1rem;
  color: #fff;
}

.footer__col ul {
  list-style: none;
  padding: 0;
}

.footer-social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer ul li {
  margin-bottom: 10px;
  list-style: none;
}

.footer .social-media {
  margin-top: 20px;
}

.footer .social-media a {
  color: #f1a71c;
  font-size: 1.8rem;
  margin: 0 10px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-media li a:hover {
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1rem;
  }

  .hero-section h2 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .hero-section .btn {
    font-size: 1rem;
    padding: 8px 20px;
  }

  .feature i {
    font-size: 2.5rem;
  }

  .feature h3 {
    font-size: 1.5rem;
  }

  .feature p {
    font-size: 1rem;
  }

  .customer-logo i {
    font-size: 2.5rem;
  }

  .footer p {
    font-size: 1rem;
  }

  .footer .social-media a {
    font-size: 1.3rem;
  }
}
