{% extends "base.html" %}
{% load static %}

{% block page_head %}
<link rel="stylesheet" href="{% static 'jobs.css' %}">
{% endblock page_head%}

{% block page_content %}
<div class="container">
    <div class="row">
        {% for job in jobs %}
        <div class="col-md-3 mb-4">
            <div class="job-card">
                <div class="job-card-body p-3 job-bg">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <!-- reformat the date in ddth month yy -->
                         <span class="date-pill"> {{ job.date|date:"dS M y" }}</span>
                    </div>
                    <h6 class="text-muted">{{ job.company }}</h6>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="mb-0 flex-grow-1">{{ job.title }}</h5>
                        <img src="{% static 'speechef_logo_v2.png' %}" alt="{{ job.company }} logo" class="job-logo">
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <span class="badge rounded-pill">{{ job.job_type }}</span>
                    </div>
                </div>
                <div class="job-card-footer d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column ">
                        <small>₹{{ job.job_rate }} Lacs</small>
                        <small class="text-muted">{{ job.location }}</small>
                    </div>
                    <a href="{{ job.url }}" class="btn btn-sm btn-outline-dark rounded-pill">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock page_content %}
